.content {
    margin: 0 15% 14em 15%;
}
.content-div {
    margin-top: .2em;
    background-color: #272727;
}
.content-new {
    background-color: transparent;
    padding: .8em;
}
.content-element {
    position: relative;
    padding: .8em;
}
.element-info, .element-new {
    display: none;
    padding: .8em;
}
.element-highlight {
    background-color: #2d2d2d;
}
.element-actions {
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    margin-top: .5em;
}
.element-new-actions {
    padding: .8em;
    text-align: center;
}

.title-td {
    width: 16em;
}

.text-title {
    font-size: 1.6em;
}
.text-normal {
    font-size: 1.4em;
}

.input-text {
    width: 20em;
}

.img-button {
    height: 2.4em;
}
