.content {
    margin: 5em 15% 14em 15%;
}
.content-div {
    padding: .8em;
    background-color: #272727;
}
.content-new {
    position: absolute;
    display: none;
    z-index: 999;
    left: 15%;
    right: 15%;
    top: 0;
    -webkit-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
}
.content-new-trigger {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 0;
    height: 5em;
    background-color: transparent;
}
.content-element {
    position: relative;
    margin-top: 1px;
}
.element-base {
    padding: .8em;
}
.element-info {
    display: none;
    padding: .8em;
}
.element-highlight {
    background-color: #2d2d2d;
}
.element-actions {
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    margin-top: .5em;
}
.element-new-actions {
    padding: .8em;
    text-align: center;
}

.table-info tr td:first-child {
    width: 20em;
}
.table-info span {
    font-size: 1.4em;
}

.text-title {
    font-size: 1.6em;
}
.text-normal {
    font-size: 1.4em;
}
.input-text {
    width: 20em;
}
.img-button {
    height: 2.4em;
}
