{% extends "base.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/transfers.css') }}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/transfers.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="overlay_trigger" rel="#add_overlay"></div>

{% for item in items %}
    <div class="content_div content_element">
        <div class="element_name">
            <input type="hidden" name="id" value="{{ item._id }}" />

            <span class="transfer_type">{{ item.type }}</span>
            <span class="name"></span>
            <div class="progressbox">
                <div class="progress">
                    <div class="progressbar"></div>
                </div>
            </div>
        </div>

        <div class="element_actions">
            {% if item.search_id %}
                <a href="{{ url_for('searches', id=item.search_id) }}"><img class="img_button" src="{{ url_for('static', filename='img/info.png') }}"></img></a>
            {% endif %}
            <a href=""><img class="img_button" src="{{ url_for('static', filename='img/more.png') }}" alt="more"></img></a>
            <a href=""><img class="img_button" src="{{ url_for('static', filename='img/remove.png') }}" alt="remove"></img></a>
        </div>

        <div class="element_info">
            <table>
                {% for key, val in [('Created', item.created), ('Started', item.started), ('Source', item.src|truncate(80, True)), ('Destination', item.dst)] %}
                    <tr>
                        <td class="details_title">{{ key }}:</td>
                        <td>{% if val != None %}{{ val }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="details_title">Transferred:</td>
                    <td><span class="transferred"></span> MB</td>
                </tr>
                <tr>
                    <td class="details_title">Size:</td>
                    <td><span class="size"></span> MB</td>
                </tr>
                <tr>
                    <td class="details_title">Progress:</td>
                    <td><span class="progress"></span> %</td>
                </tr>

                {% for key, val in [('Hash', item.info.hash), ('Status', item.info.status), ('Last activity', item.info.date_active), ('Download directory', item.info.download_dir)] %}
                    <tr>
                        <td class="details_title">{{ key }}:</td>
                        <td>{% if val %}{{ val }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                {% if item.info.transfer_rate %}
                    <tr>
                        <td class="details_title">Download rate:</td>
                        <td>{{ (item.info.transfer_rate / 1024)|int }} KB/s</td>
                    </tr>
                {% endif %}
                {% if item.info.files %}
                    {% for file in item.info.files %}
                    <tr>
                        <td class="details_title">{% if loop.first %}Files:{% endif %}</td>
                        <td>{{ file }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if item.info.error_string %}
                    <tr>
                        <td class="details_title"><p class="title">Error:</p></td>
                        <td>{{ item.info.error_string }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

    </div>
{% endfor %}

<div class="content_div content_new">
    <div class="element_new">
        <form>
            <table>
                <tr>
                    <td class="details_title">Source:</td>
                    <td><input type="text" name="src" size="40" value="" /></td>
                </tr>
                <tr>
                    <td class="details_title">Destination:</td>
                    <td><input type="text" name="dst" size="40" value="" /></td>
                </tr>
                <tr>
                    <td class="details_title">Type:</td>
                    <td>
                        <select title="type" name="type">
                            <option value="">auto</option>
                            <option value="torrent">torrent</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="element_new_actions">
        <a href=""><img class="img_button" src="{{ url_for('static', filename='img/add.png') }}" alt="add"></img></a>
    </div>
</div>

<!-- overlayed element -->
<div id="add_overlay" class="add_overlay">
    <pre class="add_message"></pre>
</div>
{% endblock %}
